# ── Database ──────────────────────────────────────────────────────────
POSTGRES_USER=
POSTGRES_PASSWORD=

# ── JWT ───────────────────────────────────────────────────────────────
JWT_SECRET=
JWT_EXPIRATION=

# ── Mail ──────────────────────────────────────────────────────────────
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

# ── RabbitMQ ──────────────────────────────────────────────────────────
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

# ── Services ──────────────────────────────────────────────────────────
EUREKA_URL=
ZIPKIN_URL=
